:root {
  --color-site-rice: #f4f1de;
  --color-site-orange: #e07a5f;
  --color-site-darkblue: #3d405b;
  --color-site-graygreen: #81b29a;
  --color-site-grayyellow: #f2cc8f;
  --color-site-rice-dark: #e3dfc8;
}

