.form-forum .el-menu--horizontal > .el-menu-item {
  padding: 0 15px;
  height: 35px;
  line-height: 30px;
}

.form-forum .el-menu--horizontal > .el-menu-item i {
  font-size: var(--font-size-16px);
}

.dialog-preview {
  margin: 0 auto;
}

.dialog-preview .el-dialog {
  width: 800px;
}

