:root {
    --color-header: #dcdee9;
    --color-title-text: #dcdee9;
    --color-main-text: #dcdee9;
    --color-article-tab-date-preview: #e1e3f1;
    --color-middle-button-text: #afb4db;
    --color-small-button-text: #e1e3f1;
    --color-reverse-button-text: #181d4b;
    --color-article-code-area-border-left: #e1e3f1;
    --color-footer-text: white;
    --color-article-link: #fb8500;

    --color-background-header: #181d4b;
    --color-background-main-area: #181d4b;
    --color-background-body: #152e60;
    --color-background-article-ol-comment: #152e60;
    --color-background-footer: #152e60;
    --color-background-middle-button: #152e60;
    --color-background-middle-button-border: #152e60;
    --color-background-small-button: #152e60;
    --color-background-small-button-border: #152e60;
    --color-background-reverse-button: #e1e3f1;
    --color-background-article-tag: #152e60;
    --color-background-shadow: #4566a8;
    --color-background-comment-edit: #4566a8;
}

